version: "3.9"

services:
  my-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:8080"
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 3000M
        reservations:
          cpus: "0.50"
          memory: 2000M
